/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: var(--primary-font);
}

h1 {
  font-weight: bold;
  font-size: 94px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 18px;

  color: #272142;
}

.hero h2 {
  font-size: 24px;
}

p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 30px;
}

.project-description p {
  opacity: 80%;
}

.hero p {
  font-family: var(--secondary-font);
  font-weight: bold;
  color: #272142;
  font-size: 36px;
}

.hero {
  display: block;
  text-align: center;
  padding: 160px 20px;
  background-color: var(--primary-color);
}

.btn-branding {
  background-color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding-outline {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  color: #212529;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-description {
  padding-top: 80px;
}

/*"about me" page*/

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: bold;
}

.content-container h3 {
  font-size: 24px;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: black;
}

.content-container .img-fluid {
  max-width: 100%;
  height: auto;
}

.content-container .img-about {
  border-radius: 18px;
}

.content-container .img-showcase {
  border-radius: 9px;
  margin: 20px auto;
}

/*medium screen*/

@media (max-width: 992px) {
  h2 {
    font-size: 42px;
    text-align: center;
  }

  h3 {
    padding: 0px 60px;
    text-align: center;
  }

  .content-container {
    display: block;
    text-align: center;
  }

  .content-container h1 {
    font-size: 60px;
  }

  .content-container img {
    margin-top: 35px;
  }
}

/*small screen*/

@media (max-width: 768px) {
  .project-description {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 120px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 42px;
    text-align: center;
  }

  h3 {
    padding: 0px 40px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero h2 {
    font-size: 18px;
  }
}
